@media print {
    /* 表が途中で分割されないように */
    table, tr, td, th {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  
    /* リスト、段落も途中で切れないように */
    ul, ol, li, p {
      page-break-inside: avoid;
    }

      /* 特定のセクションを新しいページから始める */
  h2#職務経歴,
  h3#株式会社-on-call業務委託2023-年-09-月現在,
  h3#個人開発2022-年-10-月2023-年-05-月,
  h2#技術スキル {
    page-break-before: always !important;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
  }
}
