@import '{{ site.theme }}';

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

@media print {
  * {
    page-break-inside: avoid;
  }

  footer {
    display: none !important;
  }

  .btn {
    display: none !important;
  }
}
